/*@font-face {*/
    /*font-family: "MyFont";*/
    /*src: url("./iconfont.woff2") format('woff2');*/
    /*src: url("./iconfont.woff") format('woff');*/
    /*font-weight: 600;*/
    /*font-style: normal;*/
/*}*/
body{
    background-color: red;
}
.hello{
    color: red;
    font-family: 'Myfont';
}
